parameters:
  ignoreErrors:
    - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition.*#'
    - '#Attribute class Symfony\\UX\\TwigComponent\\Attribute\\AsTwigComponent does not exist.#'