<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="svc_envinfo_info" controller="svc_util.controller.envinfo::info" path="/" >
        <!-- settings -->
    </route>

    <route id="svc_contact_form" controller="svc_util.controller.contact::contactForm" path="/contact" >
        <!-- settings -->
    </route>
</routes>
