{% for label, messages in app.flashes %}
  {% for message in messages %}
    <div style="display: none;"
      {{ stimulus_controller('svc--util-bundle--toast', {
        message: message,
        icon: label,
        duration: 6000
      }) }}
    ></div>
  {% endfor %}
{% endfor %}