{% trans_default_domain 'UtilBundle' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}Contact{% endtrans %}{% endblock %}
{% trans_default_domain 'UtilBundle' %}

{% block body %}
<div class='form-md'>
<h3>{% trans %}Contact{% endtrans %}</h3>

{{ form(form) }}
</div>

{% endblock %}