{% trans_default_domain 'UtilBundle' %}
{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Contact{% endtrans %}
{% endblock %}

{% block body %}
	{% trans_default_domain 'UtilBundle' %}
	<div class='form-md'>
		<h3>{% trans %}Contact{% endtrans %}</h3>

		{{ form(form) }}
		</div>

	{% endblock %}
