<h2>A new request is send from our contact form</h2>

<table style="border: 1px solid #dddddd; border-collapse: collapse">
	<tr>
		<th style="text-align:left; vertical-align:top; padding: 15px; border: 1px solid #dddddd">Name:</th>
		<td style="vertical-align:top; padding: 15px; border: 1px solid #dddddd">{{ name }}</td>
	</tr>
	<tr>
		<th style="text-align:left; vertical-align:top; padding: 15px; border: 1px solid #dddddd;">Email:</th>
		<td style="vertical-align:top; padding: 15px; border: 1px solid gr#dddddday;">{{ email }}</td>
	</tr>
	<tr>
		<th style="text-align:left; vertical-align:top; padding: 15px; border: 1px solid #dddddd;">Request:</th>
		<td style="vertical-align:top; padding: 15px; border: 1px solid #dddddd;">{{ content | nl2br }}</td>
	</tr>
</table>

<br/><br/>

Greetings<br/>
&nbsp;Your website
