{#
 # This file is part of the svc/util-bundle.
 #
 # (c) Sven Vetter <dev@sv-systems.com>
 #
 # Native Dialog Modal Component - Replacement for Bootstrap Modal
 #
 # MIGRATED: Now uses native HTML <dialog> instead of Bootstrap Modal
 # API remains compatible - same props work as before
 #}
<dialog
    class="svc-dialog {{ this.dialogSizeClass }}"
    {{ attributes.defaults({
        'data-controller': 'svc--util-bundle--modal-component',
        'data-action': 'turbo:before-cache@window->svc--util-bundle--modal-component#close',
    }) }}
>
    <div class="svc-dialog-header">
        <h2 class="svc-dialog-title">{{ title }}</h2>
        <button type="button" class="svc-dialog-close" data-action="click->svc--util-bundle--modal-component#close" aria-label="Close">&times;</button>
    </div>
    <div class="svc-dialog-body">
        {% block content %}{% endblock %}
    </div>
    {% if saveButton %}
    <div class="svc-dialog-footer">
        <button type="button" class="btn btn-secondary" data-action="click->svc--util-bundle--modal-component#close">Close</button>
        <button type="button" class="btn btn-primary">{{ saveButtonText }}</button>
    </div>
    {% endif %}
</dialog>
