<div class='{{ isResponsive ? "table-responsive-md" }}'>
  <table{{ attributes.defaults({ class: this.getSmall  ~ this.getStriped ~ this.getBordered ~ this.getDark ~ 'table table-hover'}) }} >
    {% if hasHeader %}
    <thead>
      <tr>{% block header_row%}{% endblock %}</tr>
    </thead>
    {% endif %}
    <tbody class='{{ hasHeader ? "table-group-divider " }}'>
      {% block content%}{% endblock %}
    </tbody>
    {% if hasFooter %}
    <tfoot class='table-group-divider'>
      <tr>{% block footer_row%}{% endblock %}</tr>
    </tfoot>
    {% endif %}
  </table>
</div>
